<div class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo">
            
            <a href="#" class="logo"><b style="color:orangered">Enhante</b><i style="color:blueviolet">Beauty</i></a>
        </div>
        <nav>
          <ul id="MenuItems">
            <li><a style="color:blueviolet" href="#home">Home</a></li>
            <li><a style="color:blueviolet" routerLink="/product">Products</a></li>
            <li><a style="color:blueviolet" routerLink="/account">Account</a></li>
          </ul>
        </nav>
        <a routerLink="/addcart"><img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" style="color:blueviolet" /></a>
        
      </div>
      <div class="toggles">
        <a routerLink="/lip"><button>LIPS</button></a>
        <a routerLink="/face"><button>FACE MAKEUP</button></a>
        <a routerLink="/eye"><button>EYE MAKEUP</button></a>
        <a href="#others"><button>OTHERS</button></a>
      </div>
      
      <br>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/carr2.jpeg" class="d-block w-100" height="500pz" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/caarrr4.jpg" class="d-block w-100" height="500pz" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carr3.jpg" height="500pz" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
   




  
      <section id="lips">
      <h2 class="title">LIPS</h2>
       <!-- lips -->
      
      <div class="container">
       <div class="row">
        
               <div class="col-md-4 col-12   col-sm-6">
                          <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                              <div class="view view-cascade overlay text-center">
                                 
                                      <img class="card-img-top" src="../../../assets/lipstick.jpeg" alt="">
                                      
                              </div>
                              <div class="card-body card-body-cascade">
                                  <div class="d-flex justify-content-between text-nowrap">
                                      <a>LIP STICK</a>
                                      
                                  </div> 
                                  <div class="product-card-footer">
                                      <div class="row">
                                          <div class="col-12">
                                              <!-- Button trigger modal -->
                                              <a routerLink="/lip"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                          </div>
                                     </div>
                                  </div>
                              </div>
                          </div>
                      </div>
      <div class="col-md-4 col-12   col-sm-6">
                          <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                              <div class="view view-cascade overlay text-center">
                                 
                                      <img class="card-img-top" src="../../../assets/lipbam.jpg" alt="">
                                     
                              </div>
                              <div class="card-body card-body-cascade">
                                  <div class="d-flex justify-content-between text-nowrap">
                                      <a href="">LIP BAM</a>
                                      </div> 
                                  <div class="product-card-footer">
                                      <div class="row">
                                          <div class="col-12">
                                              <!-- Button trigger modal -->
                                              <a routerLink="/lipbam"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                          </div>
                                       </div>
                                  </div>
                              </div>
                          </div>
                      </div>
      <div class="col-md-4 col-12   col-sm-6">
                          <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                              <div class="view view-cascade overlay text-center">
                                  <a href="#">
                                      <img class="card-img-top" src="../../../assets/lipgloss.jpg" alt="">
                                      <div class="mask rgba-white-slight"></div></a>
                              </div>
                              <div class="card-body card-body-cascade">
                                  <div class="d-flex justify-content-between text-nowrap">
                                      <a href="">LIP GLOSS</a> </div> 
                                     <div class="product-card-footer">
                                      <div class="row">
                                          <div class="col-12">
                                              <!-- Button trigger modal -->
                                              <a routerLink="/lipgloss"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    
                   </div>
                
               </div>
            </section>
            <section id="facemakeup">
            <h2 class="title">FACE MAKEUP</h2>
       <!-- lips -->
      
      <div class="container">
       <div class="row">
               <div class="col-md-4 col-12   col-sm-6">
                          <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                              <div class="view view-cascade overlay text-center">
                                  <a href="#">
                                      <img class="card-img-top" src="../../../assets/foundation.jfif" alt="">
                                      <div class="mask rgba-white-slight"></div></a>
                              </div>
                              <div class="card-body card-body-cascade">
                                  <div class="d-flex justify-content-between text-nowrap">
                                      <a href="">FOUNDATION</a>
                                      
                                  </div> 
                                  <div class="product-card-footer">
                                      <div class="row">
                                          <div class="col-12">
                                              <!-- Button trigger modal -->
                                              <a routerLink="/face"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                          </div>
                                     </div>
                                  </div>
                              </div>
                          </div>
                      </div>
      <div class="col-md-4 col-12   col-sm-6">
                          <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                              <div class="view view-cascade overlay text-center">
                                  <a href="#">
                                      <img class="card-img-top" src="../../../assets/concealer.jpg" alt="">
                                      <div class="mask rgba-white-slight"></div></a>
                              </div>
                              <div class="card-body card-body-cascade">
                                  <div class="d-flex justify-content-between text-nowrap">
                                      <a href="">CONCEALER</a>
                                      </div> 
                                  <div class="product-card-footer">
                                      <div class="row">
                                          <div class="col-12">
                                              <!-- Button trigger modal -->
                                              <a routerLink="/face"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                          </div>
                                       </div>
                                  </div>
                              </div>
                          </div>
                      </div>
      <div class="col-md-4 col-12   col-sm-6">
                          <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                              <div class="view view-cascade overlay text-center">
                                  <a href="#">
                                      <img class="card-img-top" src="../../../assets/highlighter.jpg" alt="">
                                      <div class="mask rgba-white-slight"></div></a>
                              </div>
                              <div class="card-body card-body-cascade">
                                  <div class="d-flex justify-content-between text-nowrap">
                                      <a href="">HIGHLIGHTER</a> </div> 
                                     <div class="product-card-footer">
                                      <div class="row">
                                          <div class="col-12">
                                              <!-- Button trigger modal -->
                                              <a routerLink="/face"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                   </div>

                   
                   <div class="row">
                    <div class="col-md-4 col-12   col-sm-6">
                               <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                                   <div class="view view-cascade overlay text-center">
                                       <a href="#">
                                           <img class="card-img-top" src="../../../assets/powder.jpg" alt="">
                                           <div class="mask rgba-white-slight"></div></a>
                                   </div>
                                   <div class="card-body card-body-cascade">
                                       <div class="d-flex justify-content-between text-nowrap">
                                           <a href="">POWDER</a>
                                           
                                       </div> 
                                       <div class="product-card-footer">
                                           <div class="row">
                                               <div class="col-12">
                                                   <!-- Button trigger modal -->
                                                   <a routerLink="/face"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                               </div>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
           <div class="col-md-4 col-12   col-sm-6">
                               <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                                   <div class="view view-cascade overlay text-center">
                                       <a href="#">
                                           <img class="card-img-top" src="../../../assets/blush.jpg" alt="">
                                           <div class="mask rgba-white-slight"></div></a>
                                   </div>
                                   <div class="card-body card-body-cascade">
                                       <div class="d-flex justify-content-between text-nowrap">
                                           <a href="">BLUSH</a>
                                           </div> 
                                       <div class="product-card-footer">
                                           <div class="row">
                                               <div class="col-12">
                                                   <!-- Button trigger modal -->
                                                   <a routerLink="/face"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                               </div>
                                            </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
           <div class="col-md-4 col-12   col-sm-6">
                               <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                                   <div class="view view-cascade overlay text-center">
                                       <a href="#">
                                           <img class="card-img-top" src="../../../assets/primer.jpg" alt="">
                                           <div class="mask rgba-white-slight"></div></a>
                                   </div>
                                   <div class="card-body card-body-cascade">
                                       <div class="d-flex justify-content-between text-nowrap">
                                           <a href="">PRIMER</a> </div> 
                                          <div class="product-card-footer">
                                           <div class="row">
                                               <div class="col-12">
                                                   <!-- Button trigger modal -->
                                                   <a routerLink="/face"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
               </div>
            </section>
            <section id="eyemakeup">
            <h2 class="title">EYE MAKEUP</h2>
            <!-- lips -->
          
           <div class="container">
            <div class="row">
                    <div class="col-md-4 col-12   col-sm-6">
                               <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                                   <div class="view view-cascade overlay text-center">
                                       <a href="#">
                                           <img class="card-img-top" src="../../../assets/eyeliner.jpg" alt="">
                                           <div class="mask rgba-white-slight"></div></a>
                                   </div>
                                   <div class="card-body card-body-cascade">
                                       <div class="d-flex justify-content-between text-nowrap">
                                           <a href="">EYE LINEAR</a>
                                           
                                       </div> 
                                       <div class="product-card-footer">
                                           <div class="row">
                                               <div class="col-12">
                                                   <!-- Button trigger modal -->
                                                   <a routerLink="/eye"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                               </div>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
           <div class="col-md-4 col-12   col-sm-6">
                               <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                                   <div class="view view-cascade overlay text-center">
                                       <a href="#">
                                           <img class="card-img-top" src="../../../assets/mascara,jpg.jfif" alt="">
                                           <div class="mask rgba-white-slight"></div></a>
                                   </div>
                                   <div class="card-body card-body-cascade">
                                       <div class="d-flex justify-content-between text-nowrap">
                                           <a href="">MASCARA</a>
                                           </div> 
                                       <div class="product-card-footer">
                                           <div class="row">
                                               <div class="col-12">
                                                   <!-- Button trigger modal -->
                                                   <a routerLink="/eye"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                               </div>
                                            </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
           <div class="col-md-4 col-12   col-sm-6">
                               <div class="card card-cascade card-ecommerce wider shadow mb-5" data-aos="zoom-in" data-aos-duration="1000">
                                   <div class="view view-cascade overlay text-center">
                                       <a href="#">
                                           <img class="card-img-top" src="../../../assets/eyelasg.jpg" alt="">
                                           <div class="mask rgba-white-slight"></div></a>
                                   </div>
                                   <div class="card-body card-body-cascade">
                                       <div class="d-flex justify-content-between text-nowrap">
                                           <a href="">EYE LASH</a> </div> 
                                          <div class="product-card-footer">
                                           <div class="row">
                                               <div class="col-12">
                                                   <!-- Button trigger modal -->
                                                   <a routerLink="/eye"><button type="button"  class="btn add-to-card"> Buy Now &#8594;</button></a>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                 </section>
             </div>
          </div>
         <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Download Our App</h3>
          <p>Download App for Android and iso mobile phone.</p>
          <div class="app-logo">
            <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
            <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
          </div>
        </div>
  
        <div class="footer-col-2">
            <a href="#" class="logo"><b style="color:orangered">Enhante</b><i style="color:blueviolet">Beauty</i></a>
          <p>
            beautify,glamrous
          </p>
        </div>
  
        <div class="footer-col-3">
          <h3>Useful Links</h3>
          <ul>
            <li>Coupons</li>
            <li>offers</li>
            <li>Return Policy</li>
            
          </ul>
        </div>
  
        <div class="footer-col-4">
          <h3>Follow us</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>YouTube</li>
          </ul>
        </div>
      </div>
      <hr />
      <p class="copyright">Copyright &copy; 2024 - EnhanteBeauty</p>
    </div>
         </div>
  
  