<div class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo">
            <a href="#" class="logo"><b style="color:orangered">Enhante</b><i style="color:blueviolet">Beauty</i></a>
        </div>
        <nav>
          <ul id="MenuItems">
            <li><a style="color:blueviolet" href="#home">Home</a></li>
            <li><a style="color:blueviolet" routerLink="/product">Products</a></li>
            <li><a style="color:blueviolet" routerLink="/account">Account</a></li>
          </ul>
        </nav>
        <a routerLink="/addcart"><img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" style="color:blueviolet" /></a>
      </div>
      <div class="row">
        <div class="col-2">
            <h1>Welcome to <strong>Enhante Beauty</strong><br> Where Your Glow Begins</h1>
            <p >Indulge in the allure of Radiant Beauty, where every product is meticulously
                crafted to enhance your natural radiance. From luxurious skincare essentials
                 to exquisite makeup must-haves, embark on a journey of self-expression and confidence. 
                 Discover beauty that goes beyond the surface and unlocks the essence of your unique glow.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
          <img src="../../../assets/lip2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  
  
  
  
<!-- Featured categories -->
<h2 class="title">NEW ARRIVALS</h2>
<div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <img src="../../../assets/combo1.jpg" alt="" />
        </div>
        <div class="col-3">
            <img src="../../../assets/combo3.jpg" alt="" />
          </div>
        <div class="col-3">
          <img src="../../../assets/combo2.jpg" alt="" />
        </div>
        </div>
        <div class="row">
            <div class="col-3">
              <img src="../../../assets/eyeshadow1.jpg" alt="" />
            </div>
            <div class="col-3">
              <img src="../../../assets/eyeshadow2.jpg" alt="" />
            </div>
            <div class="col-3">
                <img src="../../../assets/eyeshadow3.jpg" alt="" />
              </div>
            </div>
            
    </div>
  </div>




  <!-- offer -->
  <div class="offer">
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img src="../../../assets/salws.jpg" alt="" class="offer-img" />
        </div>
        <div class="col-2">
          <p>Exclusively Available on EnhanteBeauty</p>
          <h1>Makeup-Combo<br>Beauty Sale <br>50%</h1>
          <small>Maybelline Brand</small>
          <br />
          <a href="#" class="btn">Buy Now &#8594;</a>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Download Our App</h3>
          <p>Download App for Android and iso mobile phone.</p>
          <div class="app-logo">
            <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
            <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
          </div>
        </div>
  
        <div class="footer-col-2">
            <a href="#" class="logo"><b style="color:rgb(149, 34, 14)">Enhante</b><i style="color:blueviolet">Beauty</i></a>
          <p>
            beautify,glamrous
          </p>
        </div>
  
        <div class="footer-col-3">
          <h3>Useful Links</h3>
          <ul>
            <li>Coupons</li>
            <li>offers</li>
            <li>Return Policy</li>
            
          </ul>
        </div>
  
        <div class="footer-col-4">
          <h3>Follow us</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>YouTube</li>
          </ul>
        </div>
      </div>
      <hr />
      <p class="copyright">Copyright &copy; 2024 - EnhanteBeauty</p>
    </div>
  </div>
  
  <!-- js for toggle menu -->
  <script>
    var MenuItems = document.getElementById('MenuItems');
    MenuItems.style.maxHeight = '0px';
  
    function menutoggle() {
      if (MenuItems.style.maxHeight == '0px') {
        MenuItems.style.maxHeight = '200px';
      } else {
        MenuItems.style.maxHeight = '0px';
      }
    }
  </script>




